language: node_js
sudo: required
dist: xenial
node_js:
  - 8
addons:
  sauce_connect: true
  firefox: latest
  chrome: stable
services:
  - xvfb
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
before_script:
  - npm install
script:
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then npm run lint && npm run test-ci; else npm run test-pr; fi
